.botao {
    background-color: $cor-bg-botao-padrao;
    color: $cor-botao-padrao;
    border: solid 5px $cor-borda-botao-padrao;
    font-size: 1.8em;
    font-weight: bold;
    width: 200px;
    height: 100px;
    border-radius: 30px;
}