body {
  background-color: #444;
  background-image: url(fd1113d2d7869fd7044159fccc871dbf.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

